root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 120
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_colon-spacing = disabled
##ktlint_standard_import-ordering = disabled
ktlint_standard_filename = disabled
