<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.InAppMessagingActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Notificare.Translucent">

            <meta-data
                android:name="re.notifica.iam.ui.suppress_messages"
                android:value="true" />

        </activity>

        <!-- Provider to auto configure the in-app messaging module -->
        <provider
            android:name="re.notifica.iam.NotificareInAppMessagingConfigurationProvider"
            android:authorities="${applicationId}.NotificareInAppMessagingConfigurationProvider"
            android:exported="false" />

    </application>

</manifest>
