<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="re.notifica.push.hms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- This app has permission to register and receive message -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->

    <application>
        <!-- Allow incoming push messages to be handled by the app -->
        <service
            android:name="re.notifica.push.hms.NotificarePushService"
            android:exported="false"
            android:label="Notificare Push Service">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- temp overwrites until HMS Core Push is updated -->
        <receiver
            android:name="com.huawei.hms.support.api.push.PushMsgReceiver"
            android:exported="true"
            tools:replace="exported" />
        <receiver
            android:name="com.huawei.hms.support.api.push.PushReceiver"
            android:exported="true"
            tools:replace="exported" />
    </application>

</manifest>
