<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="re.notifica.push.ui">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />

        <!-- Provider for camera replies -->
        <provider
            android:name=".content.FileProvider"
            android:authorities="${applicationId}.notificare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/notificare_file_paths" />
        </provider>

    </application>

</manifest>
